<app-menu></app-menu>

<div class="contenido">
    <h2>Modificar datos del entrevistador/a</h2>
    <form [formGroup]="formularioEntrevistador" (ngSubmit)="modificar()">
        <div class="row">
            <div class="col-25">
                <label class="label_form" for="Nombre">Nombre</label>
            </div>
            <div class="col-75">
                <input class="input_form" id="Nombre" type="text" formControlName="Nombre">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="ApellidoPaterno">Apellido paterno</label>
            </div>
            <div class="col-75">
                <input class="input_form" id="ApellidoPaterno" type="text" formControlName="ApellidoPaterno">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="ApellidoMaterno">Apellido materno</label>
            </div>
            <div class="col-75">
                <input class="input_form" id="ApellidoMaterno" type="text" formControlName="ApellidoMaterno">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="Istitucion">Institución</label>
            </div>
            <div class="col-75">
                <select class="select_form" name="Institucion" id="Institucion" formControlName="Institucion">
                    <option value="CNB">CNB</option>
                    <option value="CLB">CLB</option>
                    <option value="Fiscalía">Fiscalía</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="Cargo">Cargo</label>
            </div>
            <div class="col-75">
                <input class="input_form" id="Cargo" type="text" formControlName="Cargo">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="LugarActual"> Lugar donde se encuentra actualmente</label>
            </div>
            <div class="col-75">
                <input class="input_form" id="LugarActual" type="text" formControlName="LugarActual">
            </div>
        </div>

        <div id="mapEntrevistador"></div>

        <br>

        <input class="input_form" type="submit" [disabled]="!formularioEntrevistador.valid">
    </form>
</div>