<app-menu></app-menu>

<div class="contenido">
    <h1>Formulario de personas en interacción</h1>

    <div class="boton_area_form">
        <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 0}" (click)="cambiarPasoFormulario(0)">Datos generales</button>
        <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 1}" (click)="cambiarPasoFormulario(1)">Procedencia de la persona</button>
        <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 2}" (click)="cambiarPasoFormulario(2)">Situación de la persona</button>
        <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 3}" (click)="cambiarPasoFormulario(3)">Observaciones</button>
    </div>

    <form [formGroup]="formularioInteraccion" (ngSubmit)="enviar()" enctype="multipart/form-data">
        <div [ngClass]="{ocultar: posicionFormulario != 0}">
            <h2>Datos generales</h2>
            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Nombre">Nombre *</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="Nombre" type="text" formControlName="Nombre">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="ApellidoPaterno">Apellido paterno *</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="ApellidoPaterno" type="text" formControlName="ApellidoPaterno">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="ApellidoMaterno">Apellido materno</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="ApellidoMaterno" type="text" formControlName="ApellidoMaterno">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="NombreSocial">Nombre social</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="NombreSocial" type="text" formControlName="NombreSocial">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="FechaNacimiento">Fecha de nacimiento</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="FechaNacimiento" type="date" formControlName="FechaNacimiento">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Sexo">Sexo asignado al nacer</label>
                </div>
                <div class="col-75">
                    <select class="select_form" name="Sexo" id="Sexo" formControlName="Sexo">
                        <option disabled selected hidden value="">Selecciona una opción</option>
                        <option value='Hombre'>Hombre</option>
                        <option value='Mujer'>Mujer</option>
                        <option value='Intersex'>Intersex</option>
                    </select>
                </div>
            </div>
        </div>

        <div [ngClass]="{ocultar: posicionFormulario != 1}">
            <h2>Procedencia de la persona</h2>
            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Nacionalidad">Nacionalidad</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="Nacionalidad" type="text" formControlName="Nacionalidad">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Estado">Estado</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="Estado" type="text" formControlName="Estado">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Municipio">Municipio</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="Municipio" type="text" formControlName="Municipio">
                </div>
            </div>
            <!--  <select name="nacionalidad" id="nacionalidad" formControlName="nacionalidad">
            <option *ngFor="let pais of paises" [ngValue]="pais">
                {{ pais }}
        </select> -->

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="LugarFrecuenta">Lugar que frecuenta</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="LugarFrecuenta" type="text" formControlName="LugarFrecuenta">
                </div>
            </div>


            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="LugarActual">Lugar actual</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="LugarActual" type="text" formControlName="LugarActual">
                </div>
            </div>

            <div id="mapInteraccion"></div>

            <div class="row">
                <div class="col-25">
                    <label class="input_form" class="label_form" for="Grupo">Grupo</label>
                </div>
                <div class="col-55">
                    <select class="select_form" name="IdGrupo" id="IdGrupo" formControlName="IdGrupo">
                        <option>Sin grupo</option>
                        <option *ngFor="let g of grupos" value={{g.IdGrupo}}>{{g.NombreGrupo}}</option>
                    </select>
                </div>
                <div class="col-20">
                    <button type="button" class="button_form" routerLink="/grupo">Crear nuevo grupo</button>
                </div>
            </div>
        </div>

        <div [ngClass]="{ocultar: posicionFormulario != 2}">
            <h2>Situación de la persona</h2>
            <h2>Perfil: elegir una o varias opciones según corresponda</h2>
            <h3>Catálogo de personas</h3>

            <div class="checkbox-area">
                <div class="checkbox-item">
                    <label class="label_form" for="SituacionCalle">En situación de calle</label>
                    <input class="input_form" id="SituacionCalle" type="checkbox" formControlName="SituacionCalle">
                </div>

                <div class="checkbox-item">
                    <label class="label_form" for="MigrantesMexicanas">Migrantes mexicanas</label>
                    <input class="input_form" id="MigrantesMexicanas" type="checkbox"
                        formControlName="MigrantesMexicanas">
                </div>

                <div class="checkbox-item">
                    <label class="label_form" for="TrabajadorCampo">Trabajadora de campo</label>
                    <input class="input_form" id="TrabajadorCampo" type="checkbox" formControlName="TrabajadorCampo">
                </div>

                <div class="checkbox-item">
                    <label class="label_form" for="DesplazadasForzadasInternas">Desplazadas forzadas
                        internas</label>
                    <input class="input_form" id="DesplazadasForzadasInternas" type="checkbox"
                        formControlName="DesplazadasForzadasInternas">
                </div>

                <div class="checkbox-item">
                    <label class="label_form" for="MigrantesExtranjeras">Migrantes extranjeras</label>
                    <input class="input_form" id="MigrantesExtranjeras" type="checkbox"
                        formControlName="MigrantesExtranjeras">
                </div>

                <div class="checkbox-item">
                    <label class="label_form" for="Deportadas">Deportadas</label>
                    <input class="input_form" id="Deportadas" type="checkbox" formControlName="Deportadas">
                </div>

                <div class="checkbox-item">
                    <label class="label_form" for="TrabajadorHogar">Trabajadoras de hogar</label>
                    <input class="input_form" id="TrabajadorHogar" type="checkbox" formControlName="TrabajadorHogar">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="DescripcionFisica">Descripción física</label>
                </div>
                <div class="col-75">
                    <textarea class="textarea_form" id="DescripcionFisica" rows="10" cols="50"
                        formControlName="DescripcionFisica"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Necesidades">Necesidad de apoyo/atención por parte de
                        autoridades:</label>
                </div>
                <div class="col-75">
                    <textarea class="textarea_form" id="Necesidades" rows="10" cols="50"
                        formControlName="Necesidades"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="MensajeFamiliares">Mensaje a familiares</label>
                </div>
                <div class="col-75">
                    <textarea class="textarea_form" id="MensajeFamiliares" rows="10" cols="50"
                        formControlName="MensajeFamiliares"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Imagen">Imagén de la persona</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="Imagen" type="file" accept='image/*' formControlName="Imagen"
                        (change)="onFileChange($event)">
                </div>
                <img [src]="imagenSRC" *ngIf="imagenSRC" style="width: 50%; align-items: center;">
            </div>
        </div>

        <div [ngClass]="{ocultar: posicionFormulario != 3}">
            <h2>Observaciones</h2>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="SaludFisica">Salud física</label>
                </div>
                <div class="col-75">
                    <select class="select_form" name="SaludFisica" id="SaludFisica" formControlName="SaludFisica">
                        <option disabled selected hidden value="">Selecciona una opción</option>
                        <option value="Buena">Buena</option>
                        <option value="Regular">Regular</option>
                        <option value="Mala">Mala</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="SaludMental">Salud mental</label>
                </div>
                <div class="col-75">
                    <select class="select_form" name="SaludMental" id="SaludMental" formControlName="SaludMental">
                        <option disabled selected hidden value="">Selecciona una opción</option>
                        <option value="Buena">Buena</option>
                        <option value="Regular">Regular</option>
                        <option value="Mala">Mala</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Observaciones">Observaciones</label>
                </div>
                <div class="col-75">
                    <textarea class="textarea_form" id="Observaciones" rows="10" cols="50"
                        formControlName="Observaciones"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Folio">Folio *</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="Folio" type="text" formControlName="Folio">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Entrevistador">Entrevistador *</label>
                </div>
                <div class="col-75">
                    <input class="input_form" id="Entrevistador" type="text" formControlName="Entrevistador">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Institucion">Institución *</label>
                </div>
                <div class="col-75">
                    <select class="select_form" name="Institucion" id="institucion" formControlName="Institucion">
                        <option value='CNB'>CNB</option>
                        <option value='CLB'>CLB</option>
                        <option value='Fiscalía'>Fiscalía</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label_form" for="Interacciones">Interacciones</label>
                </div>
                <div class="col-75">
                    <select class="select_form" name="Interacciones" id="Interacciones" formControlName="Interacciones">
                        <option value="Lugar1">Lugar1</option>
                        <option value="Lugar2">Lugar2</option>
                        <option value="Lugar3">Lugar3</option>
                    </select>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <input class="input_form" type="submit" [disabled]="!formularioInteraccion.valid">
        </div>
    </form>
</div>