<app-menu></app-menu>

<div class="contenido">
    <div class="cabecera">
        <h1>Formulario de personas en interacción</h1>

        <div class="boton_area_form">
            <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 0}"
                (click)="cambiarPasoFormulario(0)">Datos generales de la persona que interactúa</button>
            <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 1}"
                (click)="cambiarPasoFormulario(1)">Procedencia de la persona</button>
            <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 2}"
                (click)="cambiarPasoFormulario(2)">Situación de la persona</button>
            <button class="boton_avanzar_form" [ngClass]="{boton_avanzar_form_seleccionado: posicionFormulario == 3}"
                (click)="cambiarPasoFormulario(3)">Observaciones</button>
        </div>
    </div>

    <div class="formulario">
        <form [formGroup]="formularioInteraccion" (ngSubmit)="enviar()" enctype="multipart/form-data">
            <div [ngClass]="{ocultar: posicionFormulario != 0}">
                <h2>Datos generales</h2>
                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Nombre">Nombre <span class="campo_obligatorio">*</span></label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="Nombre" type="text" formControlName="Nombre">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="ApellidoPaterno">Apellido paterno <span class="campo_obligatorio">*</span></label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="ApellidoPaterno" type="text" formControlName="ApellidoPaterno">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="ApellidoMaterno">Apellido materno</label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="ApellidoMaterno" type="text" formControlName="ApellidoMaterno">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="NombreSocial">Nombre social</label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="NombreSocial" type="text" formControlName="NombreSocial">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="FechaNacimiento">Fecha de nacimiento</label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="FechaNacimiento" type="date" formControlName="FechaNacimiento">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Sexo">Sexo asignado al nacer</label>
                    </div>
                    <div class="col-75">
                        <select class="select_form" name="Sexo" id="Sexo" formControlName="Sexo">
                            <option disabled selected hidden value="">Selecciona una opción</option>
                            <option value='Hombre'>Hombre</option>
                            <option value='Mujer'>Mujer</option>
                            <option value='Intersex'>Intersex</option>
                        </select>
                    </div>
                </div>
            </div>

            <div [ngClass]="{ocultar: posicionFormulario != 1}">
                <h2>Procedencia de la persona</h2>
                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Nacionalidad">Nacionalidad</label>
                    </div>
                    <div class="col-75">
                        <select class="select_form" name="Nacionalidad" id="Nacionalidad" formControlName="Nacionalidad"
                            (change)="onNacionesChange($event)">
                            <option disabled selected hidden value="">Selecciona una opción</option>
                            <option *ngFor="let nacion of naciones" value="{{nacion.nacionalidad}}">{{
                                nacion.nacionalidad }} </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Estado">Entidad federativa de nacimiento</label>
                    </div>

                    <div class="col-75" *ngIf="this.formularioInteraccion.value.Nacionalidad != 'MEXICANA'">
                        <input class="input_form" id="Estado" type="text" formControlName="Estado">
                    </div>

                    <div class="col-75" *ngIf="this.formularioInteraccion.value.Nacionalidad === 'MEXICANA'">
                        <select class="select_form" name="Estado" id="Estado" formControlName="Estado"
                            (change)="onEntidadesChange($event)">
                            <option disabled selected hidden value="">Selecciona una opción</option>
                            <option *ngFor="let entidad of entidades" value="{{entidad.idEntidad}}">{{ entidad.entidad
                                }} </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Municipio">Municipio de nacimiento</label>
                    </div>

                    <div class="col-75" *ngIf="this.formularioInteraccion.value.Nacionalidad != 'MEXICANA'">
                        <input class="input_form" id="Municipio" type="text" formControlName="Municipio">
                    </div>

                    <div class="col-75" *ngIf="this.formularioInteraccion.value.Nacionalidad === 'MEXICANA'">
                        <select class="select_form" name="Municipio" id="Municipio" formControlName="Municipio">
                            <option disabled selected hidden value="">Selecciona una opción</option>
                            <option *ngFor="let municipio of municipios" value="{{municipio.municipio}}">{{
                                municipio.municipio
                                }} </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="LugarFrecuenta">Lugar que frecuenta</label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="LugarFrecuenta" type="text" formControlName="LugarFrecuenta"
                            placeholder="Lugar o lugares en los que la persona suele quedarse, transitar o visitar; en caso de vivir ahí, los lugares que frecuenta visitar">
                    </div>
                </div>


                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="LugarActual">Lugar actual</label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="LugarActual" type="text" formControlName="LugarActual">
                    </div>
                </div>

                <div id="mapInteraccion"></div>

                <div class="row">
                    <div class="col-25">
                        <label class="input_form" class="label_form" for="Grupo">Grupo</label>
                    </div>
                    <div class="col-55">
                        <select class="select_form" name="IdGrupo" id="IdGrupo" formControlName="IdGrupo"
                            (change)="onGruposChange($event)">
                            <option>Sin grupo</option>
                            <option *ngFor="let g of grupos" value={{g.IdGrupo}}>{{g.NombreGrupo}}</option>
                        </select>
                    </div>
                    <div class="col-20">
                        <button type="button" class="button_form" routerLink="/grupo">Crear nuevo grupo</button>
                    </div>
                </div>
                <div [ngClass]="{ocultar: this.formularioInteraccion.value.IdGrupo == 'Sin grupo'}" class="row">
                    <h3>Integrantes del grupo</h3>
                    <ul>
                        <li *ngFor="let p of personasEnGrupo">
                            {{p.Nombre}} {{p.ApellidoPaterno}} {{p.ApellidoMaterno}}
                        </li>
                    </ul>
                </div>
            </div>

            <div [ngClass]="{ocultar: posicionFormulario != 2}">
                <h2>Situación de la persona</h2>
                <h2>Perfil: elegir una o varias opciones según corresponda</h2>
                <h3>Catálogo de personas</h3>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="SituacionCalle">En situación de calle</label>
                    </div>

                    <div class="col-10">
                        <div>
                            <input class="input_form" type="radio" name="SituacionCalle" id="SituacionCalleSi"
                                value="Sí" (change)="onChange($event)">
                            <label class="label_form" for="SituacionCalleSi">Sí</label>
                        </div>

                        <div>
                            <input class="input_form" type="radio" name="SituacionCalle" id="SituacionCalleNo"
                                value="No" (change)="onChange($event)">
                            <label class="label_form" for="SituacionCalleNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="MigrantesMexicanas">Migrantes mexicanas</label>
                    </div>

                    <div class="col-10">
                        <div>
                            <input class="input_form" type="radio" name="MigrantesMexicanas" id="MigrantesMexicanasSi"
                                value="Sí" (change)="onChange($event)">
                            <label class="label_form" for="MigrantesMexicanasSi">Sí</label>
                        </div>

                        <div>
                            <input class="input_form" type="radio" name="MigrantesMexicanas" id="MigrantesMexicanasNo"
                                value="No" (change)="onChange($event)">
                            <label class="label_form" for="MigrantesMexicanasNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="TrabajadorCampo">Trabajadora de campo</label>
                    </div>

                    <div class="col-10">
                        <div>
                            <input class="input_form" type="radio" name="TrabajadorCampo" id="TrabajadorCampoSi"
                                value="Sí" (change)="onChange($event)">
                            <label class="label_form" for="TrabajadorCampoSi">Sí</label>
                        </div>

                        <div>
                            <input class="input_form" type="radio" name="TrabajadorCampo" id="TrabajadorCampoNo"
                                value="No" (change)="onChange($event)">
                            <label class="label_form" for="TrabajadorCampoNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="DesplazadasForzadasInternas">Desplazadas forzadas
                            internas</label>
                    </div>

                    <div class="col-10">
                        <div>
                            <input class="input_form" type="radio" name="DesplazadasForzadasInternas"
                                id="DesplazadasForzadasInternasSi" value="Sí" (change)="onChange($event)">
                            <label class="label_form" for="DesplazadasForzadasInternasSi">Sí</label>
                        </div>

                        <div>
                            <input class="input_form" type="radio" name="DesplazadasForzadasInternas"
                                id="DesplazadasForzadasInternasNo" value="No" (change)="onChange($event)">
                            <label class="label_form" for="DesplazadasForzadasInternasNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="MigrantesExtranjeras">Migrantes extranjeras</label>
                    </div>

                    <div class="col-10">
                        <div>
                            <input class="input_form" type="radio" name="MigrantesExtranjeras"
                                id="MigrantesExtranjerasSi" value="Sí" (change)="onChange($event)">
                            <label class="label_form" for="MigrantesExtranjerasSi">Sí</label>
                        </div>

                        <div>
                            <input class="input_form" type="radio" name="MigrantesExtranjeras"
                                id="MigrantesExtranjerasNo" value="No" (change)="onChange($event)">
                            <label class="label_form" for="MigrantesExtranjerasNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Deportadas">Deportadas</label>
                    </div>

                    <div class="col-10">
                        <div>
                            <input class="input_form" type="radio" name="Deportadas" id="DeportadasSi" value="Sí"
                                (change)="onChange($event)">
                            <label class="label_form" for="DeportadasSi">Sí</label>
                        </div>

                        <div>
                            <input class="input_form" type="radio" name="Deportadas" id="DeportadasNo" value="No"
                                (change)="onChange($event)">
                            <label class="label_form" for="DeportadasNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="TrabajadorHogar">Trabajadoras de hogar</label>
                    </div>

                    <div class="col-10">
                        <div>
                            <input class="input_form" type="radio" name="TrabajadorHogar" id="TrabajadorHogarSi"
                                value="Sí" (change)="onChange($event)">
                            <label class="label_form" for="TrabajadorHogarSi">Sí</label>
                        </div>

                        <div>
                            <input class="input_form" type="radio" name="TrabajadorHogar" id="TrabajadorHogarNo"
                                value="No" (change)="onChange($event)">
                            <label class="label_form" for="TrabajadorHogarNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="DescripcionFisica">Descripción física</label>
                    </div>
                    <div class="col-75">
                        <textarea class="textarea_form" id="DescripcionFisica" rows="10" cols="50"
                            formControlName="DescripcionFisica"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Necesidades">Necesidad de apoyo/atención por parte de
                            autoridades:</label>
                    </div>
                    <div class="col-75">
                        <textarea class="textarea_form" id="Necesidades" rows="10" cols="50"
                            formControlName="Necesidades"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="MensajeFamiliares">Mensaje a familiares</label>
                    </div>
                    <div class="col-75">
                        <textarea class="textarea_form" id="MensajeFamiliares" rows="10" cols="50"
                            formControlName="MensajeFamiliares"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Imagen">Imagén de la persona</label>
                    </div>
                    <div class="col-75">
                        <input class="input_form" id="Imagen" type="file" accept='image/*'
                            (change)="onFileChange($event)">
                    </div>

                    <br>

                    <img [src]="imagenSRC" *ngIf="imagenSRC" style="height: 400px; margin-top: 20px;">
                </div>
            </div>

            <div [ngClass]="{ocultar: posicionFormulario != 3}">
                <h2>Observaciones</h2>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="SaludFisica">Salud física</label>
                    </div>
                    <div class="col-75">
                        <select class="select_form" name="SaludFisica" id="SaludFisica" formControlName="SaludFisica">
                            <option disabled selected hidden value="">Selecciona una opción</option>
                            <option value="Buena">Buena</option>
                            <option value="Regular">Regular</option>
                            <option value="Mala">Mala</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="SaludMental">Salud mental</label>
                    </div>
                    <div class="col-75">
                        <select class="select_form" name="SaludMental" id="SaludMental" formControlName="SaludMental">
                            <option disabled selected hidden value="">Selecciona una opción</option>
                            <option value="Buena">Buena</option>
                            <option value="Regular">Regular</option>
                            <option value="Mala">Mala</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Observaciones">Observaciones</label>
                    </div>
                    <div class="col-75">
                        <textarea class="textarea_form" id="Observaciones" rows="10" cols="50"
                            formControlName="Observaciones"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Entrevistador">Entrevistador</label>
                    </div>
                    <div class="col-75">
                        <input readonly class="input_form" id="Entrevistador" type="text" formControlName="Entrevistador">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Institucion">Institución</label>
                    </div>
                    <div class="col-75">
                            <input readonly class="input_form" id="Institucion" type="text" formControlName="Institucion">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Interacciones">Interacciones</label>
                    </div>
                    <div class="col-75">
                        <textarea class="textarea_form" id="Interacciones" rows="10" cols="50"
                            formControlName="Interacciones" value="Comienza en {{formularioInteraccion.value.LugarActual}}">hola</textarea>
                    </div>
                </div>
            </div>

            <br>

            <div class="boton_area_form_siguiente">
                <button type="button" class="boton_avanzar_form_siguiente"
                    [ngClass]="{ocultar: posicionFormulario == 0}"
                    (click)="botonSiguienteRetrocer(false)">Retroceder</button>
                <button type="button" class="boton_avanzar_form_siguiente"
                    [ngClass]="{ocultar: posicionFormulario == 3}"
                    (click)="botonSiguienteRetrocer(true)">Avanzar</button>

                <input [ngClass]="{ocultar: posicionFormulario != 3}" class="boton_avanzar_form_siguiente" type="submit"
                [disabled]="!formularioInteraccion.valid">
            </div>
        </form>
    </div>
</div>