<app-menu></app-menu>
<script src="https://code.datagridxl.com/datagridxl2.js"></script>
<div class="contenido">
    <h2>Datos de personas desaparecidas</h2>

    <form [formGroup]="formularioVerDesaparecidos" (ngSubmit)="(busqueda())">
        <select class="input_ver" name="campo" id="campo" formControlName="campo" >
            <option value="" disabled selected hidden>Selecciona un campo para buscar</option>
            <option value="IdDesaparecido">Folio</option>  
            <option value="Nombre">Nombre</option>
            <option value="ApellidoPaterno">Apellido paterno</option>
            <option value="ApellidoMaterno">Apellido materno</option>
            <option value="FechaNacimiento">Fecha de nacimiento</option>
            <option value="Sexo">Sexo</option>                 
        </select>

        <input class="input_ver" style="margin-left: 20px;" type="text" id="valor" formControlName="valor" placeholder="Escribe aquí para buscar">
        
        <input class="button_form" style="margin-left: 20px;" type="submit" [disabled]="!formularioVerDesaparecidos.valid" value="Añadir filtro">
    </form>

    <br>
    <button class="button_form" (click)="clear()">Limpiar búsquedas</button>
    
    <br>
    <br>

    <div #grid id="grid"></div>

    <br>

    <button class="button_form" (click)="download()">Descargar tabla como CSV</button>
</div>

<app-footer></app-footer>