<div class="login">
    <h2>Iniciar sesión</h2>

    <form [formGroup]="formularioLogIn" (ngSubmit)="(enviar())">
        <label class="label_form" for="User">Nombre de usuario</label>
        <input class="input_form" id="User" type="text" formControlName="User">

        <label class="label_form" for="Password">Contraseña</label>
        <input class="input_form" id="Password" type="password" formControlName="Password">

        <br>
        <br>

        <div class="centrar">
            <input class="boton" type="submit">
        </div>
    </form>
</div>