<div class="menu">
    <ul>
        <li style="text-align: left;" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Menu</a>
            <div class="dropdown-content">
                <a *ngIf="!entrevistador" routerLink="/desaparecidos">Añadir persona desaparecida</a>
                <a routerLink="/ver-desaparecidos">Visualizar personas desaparecidas</a>
                <a *ngIf="!entrevistador" routerLink="/interaccion">Añadir persona en riesgo</a>
                <a routerLink="/ver-interaccion">Visualizar personas en riesgo</a>
                <a *ngIf="!entrevistador" routerLink="/grupo">Crear grupo de personas</a>
                <a routerLink="/ver-grupos">Visualizar grupos de personas</a>
                <a *ngIf="!entrevistador" routerLink="/actualizar-interaccion">Actualizar registro de persona en riesgo</a>
            </div>
        </li>

        <li style="text-align: center;">
            <a routerLink="/home">Registro de personas en riesgo</a>
        </li>

        <li style="text-align: right;" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Bienvenido, {{user}} </a>
            <div class="dropdown-content">
                <a style="text-align: right;" routerLink="/entrevistador">Modificar lugar del
                    entrevistador</a>                
                <a *ngIf="administrador" style="text-align: right;" routerLink="/administrar-usuarios">Administrar usuarios</a>
                <a style="text-align: right;" (click)="logOut()">Cerrar sesión</a>
            </div>
        </li>
    </ul>
</div>