<app-menu></app-menu>
<script src="https://code.datagridxl.com/datagridxl2.js"></script>
<div class="contenido">
    <h2>Datos de personas en estado de interacción</h2>

    <form [formGroup]="formularioVerInteraccion" (ngSubmit)="(busqueda())">
        <select class="input_ver" name="campo" id="campo" formControlName="campo" >
            <option value="" disabled selected hidden>Selecciona un campo para buscar</option>
            <option value="IdInteraccion">Folio</option> 
            <option value="Nombre">Nombre</option>
            <option value="ApellidoPaterno">Apellido paterno</option>
            <option value="ApellidoMaterno">Apellido materno</option>
            <option value="NombreSocial">Nombre social</option>
            <option value="Sexo">Sexo</option>
            <option value="Nacionalidad">Nacionalidad</option>
            <option value="Estado">Estado</option>
            <option value="Municipio">Municipio</option>
            <option value="LugarFrecuenta">Lugar que frecuenta</option>
            <option value="LugarActual">Lugar actual</option>
            <option value="SituacionCalle">En situación de calle</option>
            <option value="MigrantesMexicanas">Migrante mexicana</option>
            <option value="TrabajadorCampo">Trabajador de campo</option>
            <option value="DesplazadasForzadasInternas">Desplazadas forzadas internas</option>
            <option value="MigrantesExtranjeras">Migrantes extranjeras</option>
            <option value="Deportadas">Deportadas</option>
            <option value="TrabajadorHogar">Trabajador del hogar</option>
            <option value="SaludFisica">Salud física</option>
            <option value="SaludMental">Salud mental</option>                     
        </select>

        <input class="input_ver" style="margin-left: 20px;" type="text" id="valor" formControlName="valor" placeholder="Escribe aquí para buscar">
        
        <input class="button_form" style="margin-left: 20px;" type="submit" [disabled]="!formularioVerInteraccion.valid" value="Añadir filtro">
    </form>

    <br>
    <button class="button_form" (click)="clear()">Limpiar búsquedas</button>
    
    <br>
    <br>

    <div  id="grid"></div>

    <br>
    
    <button class="button_form" (click)="download()">Descargar tabla como CSV</button>
</div>