<app-menu></app-menu>

<div class="contenido">
    <h2>Actualizar registro de una persona en situación de riesgo</h2>
    <label class="label_form">Buscar mediante el folio</label>
    <input style="min-width: 230px; margin-right: 30px;" class="input_ver" type="text"
        placeholder="Escribe aquí el folio de la persona" [(ngModel)]="folio">

    <button class="button_form" (click)="getInteraccionPorFolio('-', true)">Buscar registro</button>
    <br>
    <br>

    <label class="label_form">Buscar mediante el nombre</label>
    <input oninput="this.value = this.value.toUpperCase()" class="input_ver" type="text" [(ngModel)]="NombreABuscar"
        (input)="getInteraccionPorNombre()" placeholder="Nombre">
    <input oninput="this.value = this.value.toUpperCase()" class="input_ver" type="text"
        [(ngModel)]="ApellidoPaternoABuscar" (input)="getInteraccionPorNombre()" placeholder="Apellido paterno">
    <input oninput="this.value = this.value.toUpperCase()" class="input_ver" type="text"
        [(ngModel)]="ApellidoMaternoABuscar" (input)="getInteraccionPorNombre()" placeholder="ApellidoMaterno">

    <br>
    <br>
    <div class="lista">
        <ul>
            <li *ngFor="let persona of personas">
                <button class="boton_busqueda" (click)="getInteraccionPorFolio(persona.IdInteraccion, false)">{{ persona.Nombre }} {{
                    persona.ApellidoPaterno }} {{ persona.ApellidoMaterno}} </button>
            </li>
        </ul>
    </div>

    <br>

    <!-- Hasta que no hay una interaccion valida no se muestra este codigo  -->
    <div [ngClass]="{ocultar: hayInteraccion == false}">
        <div class="fila">
            <div class="columna">
                <h2>Datos de la persona</h2>
                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="Nombre">Nombre</label>
                    </div>
                    <div class="col-65">
                        <input readonly class="input_form" id="Nombre" type="text" value="{{interaccion.Nombre}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="ApellidoPaterno">Apellido paterno</label>
                    </div>
                    <div class="col-65">
                        <input readonly class="input_form" id="ApellidoPaterno" type="text"
                            value="{{interaccion.ApellidoPaterno}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="ApellidoMaterno">Apellido materno</label>
                    </div>
                    <div class="col-65">
                        <input readonly class="input_form" id="ApellidoMaterno" type="text"
                            value="{{interaccion.ApellidoMaterno}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label class="label_form" for="FechaNacimiento">Fecha de nacimiento</label>
                    </div>
                    <div class="col-65">
                        <input readonly class="input_form" id="FechaNacimiento" type="text"
                            value="{{interaccion.FechaNacimiento}}">
                    </div>
                </div>

                <br>
                <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" class="imagen"
                    [src]="imagenURL">
                <br>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="Interacciones">Actualizar la ruta que toma la persona</label>
            </div>
            <div class="col-65">
                <textarea [(ngModel)]="interaccion.Interacciones" class="textarea_form" id="Interacciones" rows="10"
                    cols="50" value="{{interaccion.Interacciones}}"></textarea>
            </div>
        </div>

        <br>

        <div class="centrar">
            <button class="button_form" (click)="actualizar()">Actualizar interacción</button>
        </div>

        <br>

    </div>
</div>

<app-footer></app-footer>


<app-message-alert [ngClass]="{ocultar: !hayError}" [mensaje]="mensaje" [exito]="exito"
    (close)="onMessageClose()"></app-message-alert>