.fila {
    display: flex;
}

.columna {
    flex: 50%;
}

.boton {
    background-color: rgb(35, 91, 78);
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;

    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}