.fila {
    display: flex;
}

.columna {
    flex: 50%;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 200px;
    overflow: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
}

.boton_busqueda{
    cursor: pointer;
    padding: 5px;
}