<app-menu></app-menu>

<div class="contenido">
    <h2>Crear grupo de personas</h2>
    <form [formGroup]="formularioGrupo" (ngSubmit)="(crearGrupo())">
        <div class="row">
            <div class="col-25">
                <label class="label_form" for="NombreGrupo">Nombre del grupo <span
                        class="campo_obligatorio">*</span></label>
            </div>
            <div class="col-75">
                <input oninput="this.value = this.value.toUpperCase()" class="input_form" id="NombreGrupo" type="text" formControlName="NombreGrupo">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="FechaCreacion">Fecha de creación</label>
            </div>
            <div class="col-75">
                <input class="input_form" id="FechaCreacion" type="date" formControlName="FechaCreacion">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="NombreEncargado">Nombre del encargado del grupo</label>
            </div>
            <div class="col-75">
                <input oninput="this.value = this.value.toUpperCase()" class="input_form" id="NombreEncargado" type="text" formControlName="NombreEncargado"
                    placeholder="Debe ser una persona del grupo que está migrando">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="label_form" for="LugarCreacion"> Lugar de creación</label>
            </div>
            <div class="col-75">
                <input class="input_form" id="LugarCreacion" type="text" formControlName="LugarCreacion"
                    placeholder="Para usar el mapa hay que usar la lupa en la esquina superior derecha">
            </div>
        </div>

        <div class="row">
            <div id="mapGrupo"></div>
        </div>

        <br>

        <div class="row">
            <input class="input_form" type="submit">
        </div>
    </form>
</div>

<app-message-alert [ngClass]="{ocultar: !hayError}" [mensaje]="mensaje" [exito]="exito" [home]="home"
    [reiniciar]="reiniciar" (close)="onMessageClose()"></app-message-alert>

<app-footer></app-footer>