<div class="contenido">
    <div class="login">

        <div class="">
            <img class="logo" src="./../../assets/images/logo.jpg" alt="Logo de la Diócesis de San Cristóbal">
        </div>
        

        <br>

        <h2>Aviso de privacidad</h2>

        <p>
            La Diócesis de San Cristóbal, Chiapas, es responsable del tratamiento de los datos personales que nos
            proporcione, los cuales serán utilizados para: a) Buscar personas desaparecidas; b) Prevenir la desaparición
            de personas en riesgo; c) Analizar la problemática de la desaparición en la región.
        </p>

        <br>

        <p>
            Para estos fines, los datos pueden ser transferidos y tratados dentro y fuera del país, por personas
            distintas a esta entidad. Nos comprometemos a que los datos personales, en especial los sensibles, serán
            tratados bajo estrictas medidas de seguridad, según lo dispuesto por la Ley Federal de Protección de Datos
            Personales en Posesión de Particulares.
        </p>

        <br>

        <p>
            Al responder las preguntas consiente que los datos personales sean tratados conforme a los términos y
            condiciones del presente aviso de privacidad. Si usted no manifiesta su oposición para que los datos
            personales sean transferidos, se entenderá que ha otorgado su consentimiento
        </p>

        <br>

        <p>
            Usted tiene derecho a rectificar, cancelar, oponerse o revocar el consentimiento de los datos personales
            comunicándose al teléfono (+52) 967 678 6721 o al correo electrónico conunicasclc@gmail.com. En este mismo
            correo electrónico se le proporciona la versión completa del aviso de privacidad.
        </p>

        <br>
        <div class="centrar">
            <button class="boton" (click)="continuar()" class="boton">Continuar</button>
        </div>
    </div>
</div>


<app-footer></app-footer>