<div class="contenido">
    <div class="login">
        <h2>Información</h2>
        <p>
            Explicación sobre que es el Registro de Interacciones
        </p>
        <br>

        <h2>Aviso de privacidad</h2>
        <p>
            Agradecemos la confianza que ha puesto en la Comisión Nacional de Búsqueda (CNB) del Gobierno Mexicano.
            Nosotros estamos encargados de buscar a las personas desaparecidas en México, incluidas a las
            extranjeras. En cada estado del país existe una Comisión Local de Búsqueda (CLB), las cuales tienen el
            mismo mandato.
        </p>

        <br>
        <p>
            Estamos comprometidos con la protección de los datos personales que nos comparta, la información que nos
            dé será utilizada únicamente para la búsqueda y, en caso de localización, para el apoyo humanitario y
            conforme a derecho de la persona migrante. NO será usada para detener a las personas migrantes ni para
            facilitar su deportación.
        </p>

        <br>
        <div class="centrar">
            <button class="boton" (click)="continuar()" class="boton">Continuar</button>
        </div>
    </div>
</div>


<app-footer></app-footer>