* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background-color: rgb(221, 201, 163);
    height: 100%;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
}


.contenido {
    min-height: calc(100vh - 100px);
    width: 97%;
    padding: 80px 0 0 100px;
}

.ocultar {
    display: none;
}

.hide {
    display: hidden;
}

#map,
#mapInteraccion,
#mapGrupo,
#mapEntrevistador,
#mapVerGrupo,
#mapDesapareciodos,
#mapActualizarInteraccion {
    margin: 12px 12px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: calc(50%);
    z-index: 0;
}

.boton_area_form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boton_avanzar_form_seleccionado {
    background-color: rgb(35, 91, 78);    
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;


    padding: 15px 32px;
    margin-right: 1%;
    margin-bottom: 20px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton_avanzar_form {
    background-color: rgb(16, 49, 43);
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;


    padding: 15px 32px;
    margin-right: 1%;
    margin-bottom: 20px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton_area_form_siguiente {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.boton_avanzar_form_siguiente {
    background-color: rgb(16, 49, 43);
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;

    padding: 15px 32px;
    margin-left: 5%;
    margin-bottom: 20px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.input_form[type=text],
.input_form[type=date],
.input_form[type=datetime-local],
.input_form[type=password],
.input_form[type=number],
.textarea_form {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.select_form {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    cursor: pointer;
}

.label_form {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
}

.input_form[type=submit] {
    background-color: rgb(16, 49, 43);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    cursor: pointer;
}

.input_form[type=submit]:hover {
    background-color: rgb(35, 91, 78);
}

.button_form {
    background-color: rgb(16, 49, 43);
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;

    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button_form:hover {
    background-color: rgb(35, 91, 78);
}

.col-10 {
    display: flex;
    justify-content: space-around;
    float: left;
    width: 10%;
    margin-top: 6px;
    text-align: left;
}

.col-20 {
    float: left;
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-top: 6px;
    text-align: left;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-25-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-35 {
    float: left;
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-top: 6px;
    text-align: left;
}

.col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

.col-55 {
    float: left;
    width: 55%;
    margin-top: 6px;
}

.col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-75-label {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.checkbox-area {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.checkbox-item {
    width: 33%;
}

.input_ver {    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
}

.busqueda{
    width: 100%;
    display: flex;
}

.campo_obligatorio {
    color: red;
    font-weight: bold;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .col-10,
    .col-20,
    .col-25,
    .col-35,
    .col-40,
    .col-55,
    .col-65,
    .col-75,
    .col-65 input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .col-25-label,
    .col-75-label {
        width: 50%;
    }


    #map,
    #mapInteraccion,
    #mapGrupo,
    #mapEntrevistador {
        width: calc(100%);
    }

    .contenido {
        padding: 80px 5px 0 5px;
        margin-bottom: 30px;
    }
}