.nav_menu {
    width: 90%;
    height: 70vh;
    margin: auto;
    margin-top: 5%;

    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.button_menu {
    background-color: rgb(16, 49, 43);
    color: white;
    border-radius: 20px;
    font-size: large;

    flex: 1 1 33%;
    margin: 20px;
}

.button_menu:hover {
    background-color: rgb(35, 91, 78);
}